.header {
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  font-weight: 500;
  color: #333;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  .header-content{
    padding-inline-start: 50px;
  }
}